{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body %}

    <div class="login-page">
        <h2>Accès à votre espace personnel</h2>
        <form class="login-form" method="post">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {# {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }}, vous êtes connecté(e) !
                    <a href="{{ path('app_security_logout') }}">Déconnexion</a>
                </div>
            {% endif %} #}

            <h3 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter :</h3>
            
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" 
                class="form-control" placeholder="Entrez votre prénom et votre nom" required autofocus>
            
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" 
                class="form-control" placeholder="Entrez votre mot de passe" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

            <div class="login-button">
                <button class="btn btn-lg btn-success" type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>

{% endblock %}