{% extends '/teacher/base.html.twig' %}

{% block body %}

    <div class="teacher-dashboard">
        <h1>Bienvenue dans votre classe de {{ classroom.name }}</h1>
        <h2>Professeur : {{ classroom.user.username }}</h2>

        {# flashbags #}
        {% for label, messages in app.flashes(['update-password']) %}
            {% for message in messages %}
                <div class="flash-message flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="teacher-buttons">
            <p>
                <a class="btn btn-success"
                    href="{{ path('app_teacher_candidatures') }}">
                    {% if classroom.candidatures|length > 1 %}
                        {{ classroom.candidatures|length }} demandes de candidature
                    {% else %}
                        {{ classroom.candidatures|length }} demande de candidature
                    {% endif %}
                </a>
            </p>
            <p>
                <a class="btn btn-success"
                    href="{{ path('app_candidature_create', {'classroomId': classroom.id}) }}">
                    Ajouter une candidature
                </a>
            </p>
            {# <p>
                <a class="btn btn-success"
                    href="{{ path('app_teacher_comments') }}">
                    commentaires à vérifier
                </a>
            </p> #}
            <p>
                <a class="btn btn-success"
                    href="{{ path('app_teacher_password') }}">
                    Changer son mot de passe
                </a>
            </p>
        </div>
    </div>

{% endblock %}
