{% extends '/admin/base.html.twig' %}

{% block body %}

    <div class="add-classroom-page">
        <h1>Ajouter une classe</h1>

        <div class="title">
            <img src="/img/school.png" alt="school"></img>
            <h2>École {{ school.name }}</h2>
        </div>

        {{ form_start(formClassroom) }}

            <div class="classroom">
                {{ form_row(formClassroom.name, {'label': 'Classe :'}) }}

                {{ form_row(formClassroom.year, {'label': 'Année scolaire :', 
                'attr': {'placeholder': 'Entrez l\'année en cours au mois de septembre'}}) }}
            </div>

            {{ form_row(formClassroom.user, {'label': 'Professeur :'}) }}

            <div class="submit-button">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>

        {{ form_end(formClassroom) }}
    </div>

{% endblock %}