{% extends '/admin/base.html.twig' %}

{% block body %}

    <div class="add-teacher-page">
        <h1>Ajouter un professeur</h1>

        <div class="title">
            <img src="/img/school.png" alt="school"></img>
            <h2>École {{ school.name }}</h2>
        </div>

        {{ form_start(formTeacher) }}

            {{ form_row(formTeacher.username, {'label': 'Prénom et nom :', 
            'attr': {'placeholder': 'Ex : Albert Einstein'}}) }}

            {{ form_row(formTeacher.classroom, {'label': 'Classe :'}) }}

            {{ form_row(formTeacher.password, {'label': 'Mot de passe :', 
            'attr': {'placeholder': 'Entrez un mot de passe'}}) }}

            <div class="submit-button">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>

        {{ form_end(formTeacher) }}
    </div>

{% endblock %}
