{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}

    <div class="add-classroom-page">
        <h1>Ajouter une classe</h1>

        <h2>École {{ school.name }}</h2>

        {{ form_start(formClassroom) }}

            {{ form_row(formClassroom.name, {'label': 'Classe :'}) }}

            {{ form_row(formClassroom.year, {'label': 'Année scolaire :', 
            'attr': {'placeholder': 'Entrez l\'année en cours au mois de septembre'}}) }}

            {# {{ form_row(formClassroom.teacher, {'label': 'Professeur :', 
            'attr': {'placeholder': 'Ex : '}}) }} #}

            <div class="submit-button">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>

        {{ form_end(formClassroom) }}
    </div>

{% endblock %}