{% extends '/admin/base.html.twig' %}

{% block body %}

    <div class="admin-dashboard">
        <h1>Espace Administration</h1>

        <div class="add-school-button">
            <a class="btn btn-success" href="{{ path('app_admin_createschool') }}">
                Ajouter une école
            </a>
        </div>

        {# flashbags #}
        {% for label, messages in app.flashes(['add-school', 'add-classroom', 'add-teacher', 'delete-school', 'delete-classroom']) %}
            {% for message in messages %}
                <div class="flash-message flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="links">
            <div class="site-link">
                <a href="{{ path('app_user_home') }}">
                    Visiter le site
                </a>
            </div>

            <div class="logout-link text-right">
                <a class="d-block d-lg-none" href="{{ path('app_security_logout') }}">
                    Déconnexion
                </a>
            </div>
        </div>
        
        {% for school in schools %}
            <div class="row schools-table">
                <div class="col-xl-6 col-12 school-name">
                    <p>
                        <a data-toggle="collapse" href="#school{{school.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            École {{ school.name }}
                        </a>
                    </p>
                </div>
                <div class="col-xl-6 col-12 school-buttons text-center">
                    <a class="btn btn-success add-teacher-button" 
                        href="{{ path('app_admin_createteacher', {'schoolId': school.id}) }}">
                        Ajouter un prof
                    </a>
                    <a class="btn btn-secondary add-classroom-button" 
                        href="{{ path('app_admin_createclassroom', {'schoolId': school.id}) }}">
                        Ajouter une classe
                    </a>
                    <button type="button" class="btn btn-secondary delete-school-button" 
                        data-toggle="modal" data-target="#schoolDeleteModal" 
                        data-delete-url="{{ path('app_admin_deleteschool', {'id': school.id}) }}"
                        data-delete-name="{{ school.name }}">
                        Supprimer l'école
                    </button>
                </div>
            </div>
            <div class="collapse" id="school{{school.id}}">
                <div class="card card-body">
                    {% if school.classrooms is empty %}
                        <p>Il n'y a pas de classes dans cette école.</p>
                    {% endif %}

                    <div class="classrooms">
                        <ul>
                            {% for classroom in school.classroomsSorted %}
                                <li>
                                    <p>Classe de {{ classroom.name }} / {{ classroom.user.username}}</p>
                                    <a class="btn btn-success delete-classroom-button" 
                                        href="{{ path('app_admin_deleteclassroom', {'id': classroom.id}) }}">
                                        Supprimer
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


<!-- Modal -->
<div class="modal fade" id="schoolDeleteModal" tabindex="-1" role="dialog" aria-labelledby="schoolDeleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Souhaitez-vous supprimer l'école <span id="school-name"></span> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                {# <button type="button" class="btn btn-success">Confirmer</button> #}
                <a class="btn btn-success" id="delete-confirm" href="">Confirmer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}