{% extends '/admin/base.html.twig' %}

{% block body %}

    <div class="admin-dashboard">
        <h1>Espace Administration</h1>

        <div class="add-school-button">
            <a class="btn btn-success" 
                href="{{ path('add_school') }}">
                Ajouter une école
            </a>
        </div>

        {# flashbags #}
        {% for label, messages in app.flashes(['add-school', 'add-classroom', 'add-teacher', 'delete-school']) %}
            {% for message in messages %}
                <div class="flash-message flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% for school in schools %}
            <div class="school-table">
                <div class="school-name">
                    <p><a data-toggle="collapse" href="#school{{school.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    École {{ school.name }}
                </a></p>
                </div>
                <div class="school-buttons">
                    <a class="btn btn-secondary add-classroom-button" 
                        href="{{ path('add_classroom', {'school_id': school.id}) }}">
                        Ajouter une classe
                    </a>
                    <a class="btn btn-success add-user-button" 
                        href="{{ path('add_teacher', {'schoolId': school.id}) }}">
                        Ajouter un prof
                    </a>
                    <button type="button" class="btn btn-secondary delete-school-button" 
                        data-toggle="modal" data-target="#schoolDeleteModal" 
                        data-delete-url="{{ path('delete_school', {'id': school.id}) }}"
                        data-delete-name="{{ school.name }}">
                        Supprimer l'école
                    </button>
                </div>
            </div>
            <div class="collapse" id="school{{school.id}}">
                <div class="card card-body">
                    {% if school.classrooms is empty %}
                            <p>Il n'y a pas de classes dans cette école.</p>
                    {% endif %}

                    {% for classroom in school.classrooms %}
                        <ul>
                            <li>Classe de {{ classroom.name }} de "Nom du prof"</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>


<!-- Modal -->
<div class="modal fade" id="schoolDeleteModal" tabindex="-1" role="dialog" aria-labelledby="schoolDeleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Souhaitez-vous supprimer l'école <span id="school-name"></span> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                {# <button type="button" class="btn btn-success">Confirmer</button> #}
                <a class="btn btn-success" id="delete-confirm" href="">Confirmer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}