{% extends '/user/base.html.twig' %}

{% block body %}
    <div class="create-page">
        <h1>Je dépose ma candidature</h1>

        <h3>Complète le formulaire : </h3>

        {{ form_start(formCandidature) }}

            <div class="name">
                {{ form_row(formCandidature.firstname, {'label': 'Ton prénom :', 
                'attr': {'placeholder': 'Ex : Aurélie'}}) }}

                {{ form_row(formCandidature.lastname, {'label': 'Ton nom :', 
                'attr': {'placeholder': 'Ex : Lagniez'}}) }}
            </div>

            {% set attr = { 'placeholder': 'Choisis un fichier .jpg ou .png' } %}

            {% if editPage is not defined %}
                {% set attr = {
                    'placeholder': 'Choisis un fichier .jpg ou .png',
                    'required':'required'
                    } %}
            {% endif %}

            {{ form_row(formCandidature.image, {
                'label': 'Ta photo :',
                'attr': attr
            }) }}


            {{ form_row(formCandidature.content, {'label': 'Ton programme :', 
            'attr': {'placeholder': 'Écris les principaux objectifs de ton programme.'}}) }}

            <div class="submit-button">
                <button type="submit" class="btn btn-success">
                {% if editPage is defined %}
                    J'enregistre les modifications
                {% else %}
                    J'enregistre ma candidature !
                {% endif %}
                </button>
            </div>
            
        {{ form_end(formCandidature) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/fileName.js"></script>
{% endblock %}