{% extends '/user/base.html.twig' %}

{% block body %}

<div class="candidature-page">
    <h1>{{ candidature.firstname }} {{ candidature.lastname }}</h1>
    <h3> Classe de {{ classroom.name }}</h3>

    <div class="image">
        <img src="{{ asset('uploads/images/' ~ candidature.imageFilename)}}">
    </div>

    <h2>Mon programme :</h2>
    <div class="programm">
        <p>{{ candidature.content }}</p>
    </div>

    <div class="comments">
        <h3>Commentaires</h3>
        {% for comment in comments %}
            <div class="comment">
                <p class="title">Publié le {{ comment.createdAt|date("d/m/Y")}}, par <strong>{{ comment.author }}</strong></p>
                <div class="content">
                    <p>{{ comment.content }}</p>
                    <div class="delete-comment-button">
                        {% if user.isTeacher %}
                            <a class="btn btn-secondary delete-comment-button" 
                                href="{{ path('app_delete_comment', {'candidatureId': candidature.id, 'commentId': comment.id}) }}">
                                Supprimer
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="add-comment">
        <h3>Ajouter un commentaire</h3>
        {{ form_start(formComment) }}

            {{ form_widget(formComment.author, { 'attr': {'placeholder': 'Ton prénom'}}) }}

            {{ form_widget(formComment.content, { 'attr': {'placeholder': 'Ton commentaire'}}) }}

            <div class="submit-button">
                <button type="submit" class="btn btn-success">Publier</button>
            </div>

        {{ form_end(formComment) }}

    </div>
</div>

{% endblock %}